@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
.question-card {
    /* Center the div  */
    margin: 0 auto;
  
    /* Dimensions  */
    width: 80%; /* Can be in percentage also. */
    height: auto;
  
    /* Visual  */
     background-image: url('../../../public/trivia-background.jpg');
     background-size: 100%;
    padding: 16px;
    border-radius: 16px;
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  }
  
  ul {
    list-style: none;
  }
  
  li {
    margin-top: 8px;
    background: rgb(9,125,65);
    background: linear-gradient(180deg, rgba(9,125,65,1) 0%, rgba(14,200,123,1) 100%);
    padding: 16px;
    border: 3px solid white;
    border-radius: 20px;
    font-size: 24px;
    font-family: 'Acme', sans-serif;
  }
  li:hover {
    background: rgb(255,114,0);
    background: linear-gradient(180deg, rgba(255,114,0,1) 0%, rgba(245,255,67,1) 100%);
    cursor: pointer;
    color: black;
  }
  .question-text {
    color: rgb(0, 0, 0);
    font-size: 36px;
    font-family: 'Acme', sans-serif;
    text-align: center;

  }
  
  /* Final Results  */
  
  .final-results {
    font-size: 20px;
    font-family: 'Acme', sans-serif;
    /* Center the div  */
    margin: 0 auto;
  
    /* Dimensions  */
    width: 50%; /* Can be in percentage also. */
    height: auto;
    margin-top: 64px;
  
    /* Visual  */
    background-color: rgb(42, 211, 70);
    padding: 16px;
    border-radius: 16px;
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  }
  
  .question-number{
    color: black;
    font-size: 20px;
    font-family: 'Acme', sans-serif;
  }

  .menu-user:after {
    content: '\2807';
    font-size: 30px;
    }
    .swal2-footer{
      justify-content: space-between !important;
    }



    :root {
      --hue: 223;
      --bg: hsl(var(--hue),10%,90%);
      --fg: hsl(var(--hue),10%,10%);
      --trans-dur: 0.3s;
    }
    body {
      place-items: center;
      transition:
        background-color var(--trans-dur),
        color var(--trans-dur);
    }
    
    .pl {
      display: block;
      width: 8em;
      height: 8em;
    }
    .pl__ring,
    .pl__ball1,
    .pl__ball2 {
      animation-duration: 2s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      transform-origin: 32px 32px;
    }
    .pl__ring {
      animation-name: ring;
    }
    .pl__ball1 {
      animation-name: ball1;
    }
    .pl__ball2 {
      animation-name: ball2;
    }
    
    /* Dark theme  */
    @media (prefers-color-scheme: dark) {
      :root {
        --bg: hsl(var(--hue),10%,10%);
        --fg: hsl(var(--hue),10%,90%);
      }
    }
    
    /* Animation */
    @keyframes ring {
      from {
        animation-timing-function: ease-in-out;
        stroke-dashoffset: -122.52;
        transform: rotate(135deg);
      }
      15% {
        animation-timing-function: ease-in;
        stroke-dashoffset: -122.52;
        transform: rotate(90deg);
      }
      35% {
        animation-timing-function: ease-out;
        stroke-dashoffset: -65.34;
        transform: rotate(297.5deg);
      }
      55% {
        animation-timing-function: ease-in-out;
        stroke-dashoffset: -122.52;
        transform: rotate(505deg);
      }
      70% {
        animation-timing-function: ease-in-out;
        stroke-dashoffset: -122.52;
        transform: rotate(490deg);
      }
      85%,
      to {
        stroke-dashoffset: -122.52;
        transform: rotate(497.5deg);
      }
    }
    @keyframes ball1 {
      from {
        transform: rotate(14deg);
      }
      20% {
        transform: rotate(-7deg);
      }
      60% {
        transform: rotate(399deg);
      }
      75% {
        transform: rotate(361deg);
      }
      90%,
      to {
        transform: rotate(374deg);
      }
    }
    @keyframes ball2 {
      from {
        transform: rotate(-21deg);
      }
      25% {
        transform: rotate(-47deg);
      }
      60% {
        transform: rotate(364deg);
      }
      75% {
        transform: rotate(326deg);
      }
      90%,
      to {
        transform: rotate(339deg);
      }
    }