.shadow{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.mw-400{
    max-width: 400px;
}

.form-control{
    background-color: #D6D6D6;
}

.btn-customized{
    background-color: #FF7A00; 
    border-color: #e46f01;
    color: #ffffff;
    font-weight: bold;
}
.btn-customized:hover,
.btn-customized:active,
.btn-customized:focus {
    color: #fff;
    background-color: #e46f01;
    border-color: #FF7A00;
    color: #ffffff
}
.float-button{
    position: absolute;
    right: 30px;
    top: 30px;
}
.vh-100{
    height: 100vh !important;
}